{% extends 'base.html' %}

{% block content %}

<div class="content" style="margin-top:5em;">

  

  <form method="post" enctype="multipart/form-data">
    <div class="form-row row-eq-spacing-sm">
    {% csrf_token %}
    
      <div class="col-sm">
          {{uploadForm.name}}
          
        </div>
  
        <div class="col-sm">
          
          <div class="custom-file">
            
            {{uploadForm.file}}
            <label for="filepicker">Choose File</label>
          </div>
          
          
        </div>
  
        <div class="col-sm">
          <div><button class="btn btn-success">Upload</button></div>
        </div>
  
        
    </div>
  </form>
  

<table class="table table-striped">
  <thead>
      <tr>
          <th>id</th>
          <th>filename</th>
          <th>Actions</th>
          <th>Delete</th>
      </tr>
  </thead>
  <tbody>

    {% for code in codes%}

      <tr>
        <td>{{code.id}}</td>

        <td>{{code.name}}{{code.extension}}</td>

        {% if code.extension == '.s' %}

        <td>
          
          <a href="{% url 'compile' code_id=code.id %}" style="margin-right:10px;" class="btn btn-sm btn-rounded btn-secondary">Compile</a>
          
          <button class="btn btn-sm btn-rounded btn-primary disabled" style="margin-right:10px;" >Edit</button>
          
          {% if code.hascompiled == True %}
          <button class="btn btn-sm btn-rounded btn-success" style="margin-right:10px;" >Push</button></td>
          {% endif %}

          {% if code.hascompiled == False %}
          <button class="btn btn-sm btn-rounded btn-success disabled" style="margin-right:10px;" >Push</button></td>
          {% endif %}

        {% else %}
        
        <td><button class="btn btn-rounded btn-success btn-sm disabled">Edit</button></td>

        {% endif %}
        <td><a href="{% url 'delete' code_id=code.id %}" class="btn btn-square btn-sm btn-danger rounded-circle">x</a></td>
      </tr>

    {%endfor %}

  </tbody>
</table>


</div>
{% endblock %}
